* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: #3C3C44; 
}

#auth-row {
    justify-content: center;
}

#login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #343351;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.3);
    width: 90%;
    max-width: 600px;
    min-height: 500px;
    height: auto;
    color: #F27318;
    transition: all 0.9s ease;
}

#login-container.expandido {
    min-height: 600px;
    width: 90%;
    max-width: 800px;
}

#login-container img {
    display: block;
    margin: 0 auto; 
    margin-bottom: -15px;
    width: 135px; 
    max-width: 40%;
    height: auto;
}

#login-container form {
    width: 90%;
    max-width: 300px;
    margin: 30px auto;
    transition: all 0.7s ease;
}

#cep-section {
    margin-bottom: -28px;
}

#result-section {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 2s ease;
}

.padding {
    padding-top: 10px !important; 
}

#result-section.show{
    opacity: 1;
    max-height: 800px;
}

.buscar-btn,
.enviar-btn {
    color: #343351;
    background-color: #F27318;
    border: 2px solid #F27318;
    width: 100%;
    margin-top: 5px;
    opacity: 1;
    transition: opacity 0.2s ease;
}

.buscar-btn:hover,
.enviar-btn:hover {
    background-color: transparent;
    color: #F27318;
    border-color: #F27318;
}

#feedback {
    text-align: center;
}

.disabled {
    background-color: #BBB;
}

.hidden {
    opacity: 0;
    max-height: 0;
    pointer-events: none;
}

/* Carregamento */
#loader {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    max-height: 0;
    transition: opacity 0.5s ease, max-height 0.5s ease;
}

#loader.show {
    opacity: 1;
    max-height: 100px;
    padding: 20px 0;
}

.spinner {
    width: 35px;
    height: 35px;
    border: 4px solid #ccc;
    border-top-color: #F27318; 
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}


/* Responsividade */
@media (max-width: 480px) {

    #login-container {
        padding: 15px;
        border-radius: 6px;
    }

    #login-container img {
        width: 90px;
        max-width: 50%;
        margin-bottom: -5px;
    }

    button {
        width: 100%;
    }
}


@media (max-width: 768px) {

    #login-container {
        padding: 20px;
    }

    #login-container img {
        width: 110px;
        max-width: 45%;
    }

    #login-container form {
        width: 100%;
        max-width: 300px;
        margin-top: 20px;
    }

    #result-section.show {
        max-height: none;
    }
}

